{% extends 'base.html' %}
{% load static %}
{% block content %}	
		<section class="inner-banner" style="backend:#242c36 url(https://via.placeholder.com/1920x600)no-repeat;">
			<div class="container">
				<div class="caption">
					<h2>{{job1.jobTitle}}</h2>
				</div>
			</div>
		</section>
		<section class="profile-detail">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="basic-information">
							<div class="col-md-3 col-sm-3">
							</div>
							<div class="col-md-9 col-sm-9">
								<div class="profile-content">
										<h2>{{job.jobTitle}}<span>{{company.companyName}}</span></h2>
										
										<ul class="information">
											<li><span>Website:</span>{{company.website}}</li>
											<li><span>Company Size:</span>{{size.size}}</li>
											<li><span>Contact(s)' Mobile:</span>{{person.phone}}</li>
											<li><span>Location:</span>{{job.city}}, {{job.state}} {{job.ZIP}}</li>
										</ul>
									</div>
								</div>
							<div class="panel panel-default">
								<br>
							    <input type="button" class="btn brows-btn" value="Save Job" />
								<div class="panel-heading">
									<i class="fa fa-user fa-fw"></i> Job Description
								</div>
								<div class="panel-body">
									<p>{{job.jobDescription}}</p>	
								</div>
							</div>
							<input type="button" class="btn brows-btn" value="Apply" />
                            <input type="button" class="btn brows-btn" value="Save Job" />
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


{% endblock %} 