{% extends 'base.html' %}
{% load static %}
{% block content %}

		<section class="main-banner" style="background:#242c36 url({% static 'img/' %}) no-repeat">
			<div class="container">
				<div class="caption">
					<h2>Job Search</h2>
					<form action="{% url 'job_listings_per_comp' %}" method='post' name='form'>
						<fieldset>
                            <div class="col-md-3 col-sm-3 no-pad">
								{% csrf_token %}
								<select class="selectpicker " name='company_id'>
                                {% for iCount in company%}
								<option>{{iCount.companyName}}</option>
								{% endfor %}
								</select>
							</div>

							<div class="col-md-2 col-sm-2 no-pad">
								<input type="submit" class="btn seub-btn" value="Search" />
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</section>
{% endblock %}