{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
             <form action="{% url 'created' %}" method="post" name='form'>
                <br><br>
                <h2>Create Account</h2>
                <fieldset>
                    <legend>1. Your Information</legend>
                    {% csrf_token %}
                    <label for="user_name">User Name</label>
                    <input id="user_name" name="user_name" type="text"><br><br>
                    <label for="password" >Password</label>
                    <input id="password" type='password' name="password" type="text"><br><br>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text"><br><br>
                    <label for="phone_number">Phone Number</label>
                    <input id="phone_number" name="phone_number" type="text"><br><br>
                    <label for="first_name">First Name</label>
                    <input id="first_name" name="first_name" type="text"><br><br>
                    <label for="last_name">Last Name</label>
                    <input id="last_name" name="last_name" type="text"><br><br>
                    <label for="DOB">Birthdate</label>
                    <input id="DOB" type="date" name="birthdate" 
                    placeholder="yyyy-mm-dd" value=""
                    min="1997-01-01" max="2030-12-31"><br><br>
                    <label for="city">City</label>
                    <input id="city" name="city" type="text"><br><br>
                    <label for="state">State</label>
                    <input id="state" name="state" type="text" maxlength='2'><br><br>
                    <label for="zip">Zip Code</label>
                    <input id="zip" name="zip" type="text"><br><br>
                    <legend>2. Setup Job Preference</legend>
                    {% csrf_token %}
                    <select class="selectpicker border-right" name='minorityType'>
                        <option>----Select Job Preference----</option>
                        {% for job in jobtypes %}
                        <option>{{job.type}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <legend>3. Demographics</legend>
                    {% csrf_token %}
                    <select id="ethnicity" class="selectpicker border-right" name='minorityType'>
                        <option>----Select Ethnicity----</option>
                        {% for eth in minorityTypes%}
                        <option>{{eth.type}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <legend>4. Upload Your Resume</legend>
                    <form method="POST" enctype="multipart/form-data" name="form">
                        {% csrf_token %}
                        <input type="file" name="resume" id="resume">
                    </form>
                    <br><br>
                    <legend>5. Upload Your Profile Picture</legend>
                    <form method="POST" enctype="multipart/form-data" name="form">
                        {% csrf_token %}
                        <input type="file" name="profile" id="profile">
                    </form>
                    <br><br>
                    <input id="submitbutton" type="submit" value="Create Account">
                </fieldset>
            </form>
            <br>
           
        </div>
    </div>
</header>
{% endblock %}