{% extends 'base.html' %}
{% load static %}
{% block content %}

		<section class="main-banner" style="background:#242c36 url({% static 'img/' %}) no-repeat">
			<div class="container">
				<div class="caption">
					<h2>Recruiter All Jobs</h2>

				</div>
			</div>
		</section>
		<!-- Inner Banner -->
		{% comment %} <section class="inner-banner" style="backend:#242c36 url(https://via.placeholder.com/1920x600)no-repeat;">
			<div class="container">
				<div class="caption">
					<h2>Company Name</h2>
				</div>
			</div>
		</section> {% endcomment %}
		
		<section class="jobs">
			<div class="container">
				<div class="row heading">
					<h2>Job Listing</h2>
				</div>
				<div class="row top-pad">
					<div class="filter">
						<div class="col-md-2 col-sm-3">
							<p>Search By:</p>
						</div>
						
						
					</div>
				</div>


				<div class="companies">

					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/google.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job1.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job1.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job1.city}} {{job1.state}} {{job1.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview1' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>
					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/microsoft.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job2.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job2.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job2.city}} {{job2.state}} {{job2.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview2' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>

					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/apple.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job3.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job3.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job3.city}} {{job3.state}} {{job3.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview3' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>

					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/wipro.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job4.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job4.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job4.city}} {{job4.state}} {{job4.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview4' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>


					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="microsoft-logo">
									<img src="{% static 'img/google.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job5.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job5.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job5.city}} {{job5.state}} {{job5.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview5' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>


					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/apple.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job6.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job6.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job6.city}} {{job6.state}} {{job6.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview6' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>


					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/google.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job7.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job7.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job7.city}} {{job7.state}} {{job7.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview7' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>

					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/wipro.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job8.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job8.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job8.city}} {{job8.state}} {{job8.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview8' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>

					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/microsoft.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job9.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job9.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job9.city}} {{job9.state}} {{job9.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview9' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>

					
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/google.png' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>{{job10.jobTitle}}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{job10.companyID}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job10.city}} {{job10.state}} {{job10.ZIP}}</span></p>
								</div>
							</div>
							<div class="col-md-2 col-sm-2">
								<a href="{% url 'descriptionview10' %}"><button type="submit" class="btn view-job" name="View Job">View Job</button></a>
							</div>
						</div>
					</div>
					
					
				</div>
				<div class="row">
				 <a href="{% url 'addjoblisting' %}"><input type="button" class="btn brows-btn" value="Add Job Listing" /></a>
				</div>
			</div>
		</section>


{% endblock %}