{% extends 'base.html' %}
{% load static %}
{% block content %}	
		<!-- Main jumbotron for a primary marketing message or call to action -->
		{% if personTypeID == 1 %}
  		<section class="features">
			<div class="container">
				<div class="col-md-4 col-sm-4">
					<div class="features-content">
						<span class="box1"><span aria-hidden="true" class="icon-dial"></span></span>
						<a href="{% url 'profileview' personID=personID personTypeID=personTypeID%}"><h3>Check your profile</h3></a>
						<p>Check what people are looking at!</p>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4">
					<div class="features-content">
						<span class="box1"><span aria-hidden="true" class="icon-search"></span></span>
						<a href="{% url 'jobsearchtemplate' %}"><h3>Search for a Job</h3></a>
						<p>Find the Right Job for you</p>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4">
					<div class="features-content">
						<span class="box1"><span aria-hidden="true" class="icon-printer"></span></span>
						<a href="{% url 'profiletemplate' %}"><h3>View your Resume</h3></a>
						<p>Click here to send in your resume</p>
					</div>
				</div>
			</div>
		</section>
		{%else%}
		<section class="features">
			<div class="container">
				<div class="col-md-4 col-sm-4">
					<div class="features-content">
						<span class="box1"><span aria-hidden="true" class="icon-dial"></span></span>
						<a href="{% url 'profileview' personID=personID personTypeID=personTypeID%}"><h3>Check your profile</h3></a>
						<p>Check what people are looking at!</p>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4">
					<div class="features-content">
						<span class="box1"><span aria-hidden="true" class="icon-search"></span></span>
						<a href="{% url 'employee_search' personID=personID personTypeID=personTypeID %}"><h3>Search for an employee</h3></a>
						<p>Find the person for you</p>
					</div>
				</div>
			</div>
		</section>
		{%endif%}
{% endblock %} 