{% extends 'base2.html' %}
{% load static %}
{% block content %}	
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<section class="main-banner" style="background: url('{% static 'img/slider-pic.jpg'%}') no-repeat">
			<div class="container">
				<div class="caption">
					<h2>Build Your Career</h2>
					<section>
						<div style="background-color: aliceblue;"> 
							<h1><a href="{% url 'login' %}">Log in or create an account!</a></h1>
						</div>
					</section>
				</div>
			</div>
		</section>
{% endblock %} 